<?xmlversion='1.0'encoding='UTF-8'?>
<response>
	<head>
  <msgId>$(head.msgId)</msgId>
  <timeStamp>$(head.timeStamp)</timeStamp>
  <userCode>$(head.userCode)</userCode>
  <status>S</status>
	</head>
	<body>
		<risk>
			<proposalNo>EMC2016000002305</proposalNo>
			<riskCode>BS</riskCode>
			<underWriteInd>2</underWriteInd>
		</risk>
		<risk>
			<proposalNo>EMC2016000002305</proposalNo>
			<riskCode>BZ</riskCode>
			<underWriteInd>2</underWriteInd>
		</risk>
<feesBZ>
  <C1>0.00001</C1>
  <C2>0.00002</C2>
  <C3>0.10000</C3>
  <C4>0.01001</C4>
  <C5></C5>
  <C6></C6>
</feesBZ>
<feesBS>
  <C1>0.51252</C1>
  <C2>0.43212</C2>
  <C3>0.54312</C3>
  <C4>1.56831</C4>
  <C5></C5>
  <C6></C6>
</feesBS>
	</body>
</response>
