<?xmlversion='1.0'encoding='UTF-8'?>
<response>
	<head>
    <msgId>$(head.msgId)</msgId>
    <timeStamp>$(head.timeStamp)</timeStamp>
    <userCode>$(head.userCode)</userCode>
    <status>S</status>
	</head>
	<body>
  #if($requestBody.contains('orderNo'))
    <order>
      <orderNo>$(body.order.orderNo)</orderNo>
    </order>
  #end
	</body>
</response>
