<?xmlversion='1.0'encoding='UTF-8'?>
<response>
	<head>
		<status>S</status>
		<errCode>0000</errCode>
		<errMsg>成功</errMsg>
	</head>
	<body>
		<basePay>
			<billId>1562</billId>
			<tradeNo>0300201508039683</tradeNo>
<payUrl>weixin://wxpay/bizpayurl?sign=28B4E3DB63B734C2CFFA92DA23D1E988&appid=wx8b21c03a936d4224&mch_id=1220341801&nonce_str=mDjzOblb85lkm7eeJm81IMaKmRjkOxhJ&product_id=1562&time_stamp=1439973571229</payUrl>
			<payTime>2015-08-19</payTime>
			<payAmount>8351.81</payAmount>
			<payResult>1</payResult>
			<payDueDate>2016-10-15 09:31:02</payDueDate>
		</basePay>
	</body>
</response>
